header {
    background-color:black;
    text-align: center;
    color:white;
}
h1{
    color:beige;
}
p{
    color:red;
    font-size: large;
    font-weight: bolder;
    align-content: center;
}
main{
padding:1em;
}
div
{
    
}

body
{
 background-color:seashell;
 background-image: url("../assignment/record.png");
 background-repeat: no-repeat;
 background-size: 100%;
 margin: 0em;
}